<h1>Reactive Form</h1>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input
    type="text"
    placeholder="Enter The Name"
    formControlName="user"
  />
  <br />
  <span *ngIf="user && user.invalid && user.touched" 
         style="color: red"
    >Please Enter valid Name</span
  >
  <br />
  <input
    type="text"
    placeholder="Enter The Phone"
    formControlName="phone"
    maxlength="10"
     />{{ loginForm.controls.phone.errors | json }}
  <br />
  <span *ngIf="phone && phone.invalid && phone.touched" 
         style="color: red">
  <span *ngIf="phone && phone.errors?.required" style="color: red">Please Enter Number</span>
  <span *ngIf="phone && phone.errors?.pattern" style="color: red">Please Enter 10 digit Mobile Number</span>
  </span> 
  <br />
  <input
    type="text"
    placeholder="Enter The Email"
    formControlName="email"
  />
  <br />
  <span *ngIf="email && email.invalid && email.touched" 
         style="color: red"
    >Please Enter valid emailId</span
  >
  <br />
  <input
    type="text"
    placeholder="Enter The Age"
    formControlName="age"
    maxlength="2"
  />
  <br />
  <span *ngIf="age && age.invalid && age.touched" 
         style="color: red"
    >Please Enter valid age</span
  >
  <br />
  <button [disabled]="loginForm.invalid">Submit</button>
</form>
